body{
    height: 100vh;
}

main{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

#app-section1{
    background-color: #171717;
    width: 360px;
    height: 80vh;
}

#app-section2{
    background-color: #212121;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 80vh;
}

#app-escolhas{
    height: 80%;
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
}

#app-escolhas>div:nth-child(2){
    
}

.app-opcoes{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

#enviar-resposta{
    color: #212121;
}