body{
}

/* GRID-AREA */
.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.section3 {
    grid-area: section3;
}

.section4 {
    grid-area: section4;
}


main {
    width: 100vw;
    background-color: var(--preto);
    color: var(--branco);

    /* grid */
    display: grid;

    grid-template-areas:
        "section1 section1 section2"
        "section3 section3 section3"
        "section4 section4 section4"
        "footer footer footer"
    ;
}

#section1 {
    width: 532px;
    margin-left: 94px;
}

#section1 div span {
    font-size: 64px;

}

#section1>div:nth-child(2) {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.home-imagens-lado-a-lado {
    display: flex;
    flex-flow: row;
}

.home-imagens-lado-a-lado>img:nth-of-type(2) {
    z-index: 1;
    margin-left: -30px;
}

.home-imagens-lado-a-lado>img:nth-of-type(3) {
    z-index: 2;
    margin-left: -30px;
}

#linha {
    border-bottom: white solid 1px;
    width: 100%;
    height: 20px;
}

#comece-agora button {
    margin-top: 20px;
    width: 230px;
    height: 62px;
    font-size: 24px;
    border-radius: 12px;
    background-image: url(../images/comece-agora.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}

#comece-agora button a{
    color: #1C1718;
    text-decoration: none;
}

#section2 {
    width: 295px;
    height: 402px;
    background-color: #E44320;
    border-radius: 30px 30px 0 30px;

}

#section2 div div {
    width: 120px;
    height: 56px;
    margin-left: 10px;
    /* margin-top: 50px; */
}

#section2 span {
    font-size: 30px;
}

#section2 #homem-tela-home {
    height: 100%;
    background: url(../images/homem-tela-home.png) no-repeat right;
    background-size: contain;
}

#section3 {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #D9D9D9;
    height: 310px;
}

#veja-nossos-planos {
    background-color: #D9D9D9;
    width: 600px;
    /* max-width: 450px; */
    height: 295px;
    border-radius: 0 30px 30px 0;
    border: solid #1C1718 20px;
    border-left: none;

    background-image: url(../images/veja-nossos-planos.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#veja-nossos-planos>a:nth-child(1) button {
    background-color: #1C1718;
    color: #D9D9D9;
    border-radius: 30px;
    width: 160px;
    margin-left: 10px;
    margin-top: 186px;
    text-decoration: none;
}

#comece-sua-trajetoria {
    background-color: #1C1718;
    width: 100%;
    height: 295px;
    border-radius: 30px 30px 30px 30px;
}

#comece-sua-trajetoria p {
    color: #1C1718;

}

#comece-sua-trajetoria div>p:nth-child(1) {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

#comece-sua-trajetoria div>p:nth-child(2) {
    font-size: 22px;
    font-weight: 400;
}

#comece-sua-trajetoria>div:nth-child(1) {
    background-color: #D9D9D9;
    width: 90%;
    height: 200px;
    margin: 30px auto;
    border-radius: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#comece-sua-trajetoria div>div:last-child {
    position: relative;
    top: 20px;
}

#temas {
    background-color: #1C1718;
    width: 600px;
    height: 295px;
    border-radius: 30px 30px 30px 30px;
    border-right: none;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    border: solid #1C1718 20px;
}

.temas-border{
    border: .05px solid #D9D9D9;
    border-radius: 30px;
}

.temas-icone-redondo{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temas-buton1{
    text-align: center;
    background-color: #1C1718;
    width: 160px;
    height: 32px;
}

.claro{
    background-color: #D9D9D9;
    color: #1C1718;
}

.temas-div-flex-column{
    display: flex;
    flex-flow: row;

}

.temas-div-flex-column >div:nth-child(2){
    margin-left: 50px;
}

#temas >div:nth-child(2){
    margin-left: 120px;
}

/* CARROSSEL */
#section4 {
    background-color: #1C1718;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.section4 div{
    color: #e44320;
}

.carousel-container {
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.carousel-item {
    min-width: 369px;
    height: 383px;
    background-color: orange;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    /* font-size: 24px; */
    /* color: white !important; */
    background-color: #E44320;
    font-weight: 700;

}

.carousel-item div{
    color: #D9D9D9;
}

#carousel-item-div1{
    display: flex;
    flex-flow: row;
    justify-content: end;
}

#carousel-item-div1 img{
    margin-left: 300px;
}

#carousel-item-div2{
    font-size: 26px;
    font-family: poppins;
}

#carousel-item-div3 {
    display: flex;
    flex-flow: column;
}

#carousel-item-div3 >div:nth-child(1) {
    font-size: 13px;
}

#carousel-item-div3 >div:nth-child(2){
    font-size: 100px;
    line-height: 100px;
    height: 100px;
    margin-left: 20px;
}

#carousel-item-div3 >div:nth-child(2) span{
    font-size: 23px;
}

#carousel-item-div4{
    font-size: 12px;
}

#carousel-item-div5 button{
    border-radius: 30px;
    color: #E44320;
    width: 143px;
    height: 35px;
    font-size: 12px;
    font-weight: 700;
}

.arrow {
    cursor: pointer;
    font-size: 30px;
    color: black;
    user-select: none;
}

.left-arrow {
    position: absolute;
    margin-left: -1000px;
}

.right-arrow {
    position: absolute;
    margin-right: -1000px;
}



