/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 24px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px; /* Aumenta o preenchimento interno */
    border-radius: 10px; /* Aumenta o raio da borda */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Aumenta a sombra */
    max-width: 80%; /* Define a largura máxima do modal */
    max-height: 1000px; /* Define a altura máxima do modal */
    overflow: hidden;
    border: 1px solid black;
}

.modal-content {
    text-align: center; /* Centraliza o conteúdo dentro do card */
}

.modal-content form {
    margin-top: 10px; /* Adiciona espaçamento acima do formulário */
}

.modal-content label {
    display: block;
    margin-bottom: 8px; /* Adiciona espaçamento abaixo de cada label */
}

.modal-content input {
    width: calc(100% - 20px); /* Define a largura do campo de entrada */
    padding: 8px;
    margin-bottom: 15px; /* Adiciona espaçamento abaixo de cada campo de entrada */
}
/* Adicionei um seletor específico para a classe .signup-modal */
.signup-modal {
    width: 90%; /* Ajusta a largura do card de cadastro */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adicione o seguinte código para definir o layout dos campos do formulário de cadastro */
.signup-form form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.signup-form .form-row {
    flex: 0 0 50%; /* Cada campo ocupa 50% da largura */
    padding: 5px; /* Adiciona um pequeno espaçamento entre os campos */
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

.signup-form label {
    display: block;
}

.button {
    --color: #ee5e0a;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   
.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

/* Adicione este estilo para ajustar a imagem ao lado do card */
.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    max-width: 100%;
    max-height: 100%;
}

.login-form {
    flex: 2;
    padding-left: 20px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}
input.is-valid {
    border-color: #28a745; /* Verde */
}
input.is-invalid {
    border-color: #ff1100; /* Verde */
}
