* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


html {
    /*Criando variáveis*/
    --azul-claro: #5B84B1FF;
    --verde-agua: #A3C4BCFF;
    --cinza-suave: #CAD2C5FF;
    --amarelo-suave: #F4D35EFF;
    --branco: #FFFFFFFF;
    --preto-suave: #242423FF;
    --preto: #1C1718;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* 1rem = 16px (User Agent) = 100% (User Agent) */
    /* font-size: 62.5%; 10px */
    
}

body{
    /* display: flex; */
    height: 100vh; /* view height */
    width: 100vw; /* view width */
}

header{
    display: flex;
    background-color: var(--preto);
    width: 100vw;
    height: 200px;
    
}

header nav{
    justify-self: center;
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 60px;
}

header a{
    text-decoration: none;
}

header nav a{
    color: white;
}

header #login{
margin-top: 60px;
    width: 100px;
    
}

header #login a{
    text-decoration: none;
    color: white;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: var(--preto);
    color: var(--branco);

    /* grid */
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#section1{
    width: 532px;
    margin-left: 94px;
}

#section1 div span{
    font-size: 64px;

}

section > div:nth-child(2){
    display: flex;
    flex-flow: row;
    align-items: center;
}

section > div:nth-child(2) div{
    display: flex;
    flex-flow: row;
    align-items: center;
}

#section > div:nth-child(2) img{
    width: 60px;
    z-index: 1;
    position: absolute;
    
}

#linha{
    border-bottom: white solid 1px;
    width: 100%;
    height: 20px;
}

#comece-agora button{
    margin-top: 20px;
    width: 230px;
    height: 92px;
    font-size: 24px;
    border-radius: 12px;
}

#section2 div {
    width: 295px;
    height: 402px;
    background-color: #E44320;
    border-radius: 30px;
}

#section2 div div{
    width: 120px;
    height: 56px;
    margin-left: 10px;
    margin-top: 50px;
}

#section2 span{
    font-size: 30px;
}

#section2 img{
    z-index: 1;
    right: 0;
}